*{
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

.navbar{
    margin-bottom: 5px;
}
.navbar-nav li a{
    text-decoration: none;
    color: #000;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
}

.navbar-nav .nav-item a:hover{
   font-weight: 600;
   color: #3FA3EF;
   border-bottom: #3FA3EF 2px solid;
}


main{
  background: url(img/bg-map.svg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 70vh;
}
.titulo-texto{
    text-align: center;
    margin-top: 65px;
    margin-bottom: 80px;
}

.titulo-texto h6{
    font-size: 1vw;
    font-weight: 400;
}

.titulo-texto p{
    font-size: 2vw;
    color: #3FA3EF;
    font-weight: 700;
    text-align: center;
    margin: auto 185px;
    padding: 0 8vw;
}
/*ver como recrear tranparencia sin cambiar !HEX a RGBA!*/
.pension{
    width: 600px;
    height: 420px;
    background-color: rgba(63, 163, 239, .9);
}
/*.pension{
    background: url(img/pencion-box-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 400px;
    height: 300px;
}*/
.pension div{
    text-align: center;
    margin-top: 20vh;
}

/*columna ofertas*/
.ofertas{
    width: 600px;
    height: 420px;
    background-color: rgba(245, 175, 24, .9);

}
.ofertas div{
    text-align: center;
    margin-top: 20vh;
}

/*defines la base del contenido dentro de las columnas en home*/
.main-options{
    margin-top: 110px;
}

.main-options img{
   position: absolute;
   top: -65px;
   left: 30%;
   max-width: 60%;
}


.main-options a{
    text-decoration: none;
    font-size: 21px;
    font-weight: 400;
    color: #fff;
    padding: 10px;
    border: 1px solid #fff;
}
.main-options a:hover{
    color: #3FA3EF;
    background-color: #fff;
}

.footer-cont{
    padding: 20px 0;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
}
.footer-cont p{
    margin: auto 5px;
}

/*pagina-pension*/

.titular h2{
    font-size: 28px;
    line-height: 55px;
    margin-bottom: 15px;
    margin-left: 70px;
    color: #3FA3EF;
    font-weight: bold;
    text-align: left !important;
}

.main-pension{
    background: url(img/hero-bg.svg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    min-height: 60vh;
}

.tab-content{
    padding: 15vh 70px;
    text-align: left;
    display: block;
    margin: 0 auto;
}

.tab-content p{
    font-size: 16px;
    color: #fff;
    line-height: 28px;
    font-weight: 400;
    padding-bottom: 20px;
}

.main-pension a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.main-pension img{
    width: 100%;
}
/*  position: absolute;
    right: 10%;
    bottom: 30%;*/

.list-options{
    margin-top: 20px;
    width: 100%;
}

.icon-cont{
    display: flex;
    border-bottom: 1px solid #ccc;
}

.icon-cont .item{
    flex-wrap: wrap;
}


/*pagina ofertas*/
.main-ofertas{
    background: url(img/bg-ofertas.png);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    min-height: 60vh;
}

.main-ofertas span{
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.titular-f h2{
    font-size: 28px;
    line-height: 55px;
    margin-bottom: 15px;
    margin-left: 70px;
    color: #F5AF18;
    font-weight: bold;
    text-align: left !important;
}


/*Responsive*/

@media (min-width: 1200px) { 
    .hero img{
        width: 400px;
        height: 450px;
    }
 }



